@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

html, body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

:root {
  --brand-font: var(--font-brand);
}
.brand-font {
  font-family: var(--brand-font);
}


/* ✅ stop blue selection / highlight while swiping */
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overscroll-behavior: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}